.aboutme-section {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
  margin-bottom: 45px;

  p {
    width: 60%;
    margin: 0;
  }

  img {
    width: 40%;
    max-height: 300px;
  }

  @media (max-width: 768px) {
    flex-direction: column-reverse;

    p {
      width: 100%;
    }

    img {
      width: 100%;
      margin-bottom: 25px;
    }
  }

  @media (min-width: 1400px) {
    img {
      max-height: 500px;
    }
  }
}
