.education-section {
  h1 {
    text-align: center;
  }

  .education-list {
    display: flex;
    column-gap: 50px;
    margin-top: 30px;

    .education-item {
      min-width: 100px;

      h2 {
        font-size: 20px;
        text-align: center;
      }

      p {
        margin: 0;
      }
    }
  }
}
