@import '../../styles/variables.scss';

.skills-section {
  h1 {
    text-align: center;
  }

  .skill-chart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 750px;
    margin: 0 auto;

    .skill-item {
      display: grid;
      grid-template-columns: 25% 50% 25%;
      place-items: center;
      min-width: 600px;
      align-items: center;
      margin-bottom: 30px;

      .white-bar {
        width: 100%;
        background: $white;
        position: relative;
        height: 3px;
      }

      &.leveled {
        .white-bar {
          &::after {
            content: '';
            height: 20px;
            position: absolute;
            width: 4px;
            background: $white;
            top: -8px;
          }

          &.bad {
            &::after {
              left: 25%;
            }
          }

          &.avarage {
            &::after {
              left: 50%;
            }
          }

          &.good {
            &::after {
              left: 75%;
            }
          }

          &.amazing {
            &::after {
              left: 100%;
            }
          }
        }
      }

      @media (max-width: 768px) {
        min-width: 100%;
      }
    }
  }
}
