@import '../../styles/variables.scss';

.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0;

  @media (max-width: 768px) {
    position: relative;
  }
}

.footer small {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.6px;
}
