@import '../../styles/variables.scss';

.header {
  background-color: $dark-gray;
  padding: 0 25px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.nav-links,
.social-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  align-items: center;

  li {
    padding: 20px;

    a {
      text-decoration: none;
      color: $white;
    }
  }
}

.title {
  a {
    color: $white;
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: 500;
    text-decoration: none;
  }
}

.social-links i {
  font-size: 25px;
}
